:root {
  --primary-background-color: #f7f7f7;
  --secondary-background-color: #f7f7f7;
  --low-sing-up-background-color: #191c26;
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --first-text-color: rgba(157, 164, 189, 0.6);
  --second-text-color: #9da4bd;
  --third-text-color: #303030;
  --fourth-text-color: #555555;
  --first-button-color: #ffffff;
  --second-button-color: #303030;
  --header-text-color: #ffffff;
  --accent-text-color: #ff6c00;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}

.conteiner {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.btn {
  display: inline-block;
  border: 1px solid #ff6c00;
  padding: 12px 20px;
  border-radius: 25px;
  min-width: 163px;

  background-color: transparent;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
.pretitle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.section-title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
/* Хедер */
.nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
}
.contact-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.header {
  padding: 0 32px;
  background-color: var(--low-sing-up-background-color);
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-text-color);
}
.header-link:not(:last-child) {
  margin-right: 40px;
}
.header-link:first-child {
  margin-left: 70px;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-text-color);
}
.link-tel {
  margin-right: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.33;
  color: var(--header-text-color);
}
.header-button {
  color: var(--first-button-color);
}

/* hero */
.hero {
  background-color: lawngreen;
}
.hero-container {
  display: flex;
}
.hero-list {
  width: 93px;
}
.hero-right {
  flex-grow: 1;
  padding-top: 272px;
  padding-bottom: 206px;
  padding-left: 96px;
}
.hero-link {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--third-text-color);
}
.hero-link:hover,
.hero-link:focus {
  color: var(--accent-text-color);
}
.hero-pretitle {
  color: var(--first-text-color);
}
.hero-title {
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}
.hero-aftertitle {
  max-width: 400px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
/* О нас */
.about {
  padding-top: 139px;
  padding-bottom: 121px;
}
.about-container {
  display: flex;
}
.about-list {
  display: flex;
}
.about-right {
  width: 500px;
  padding-left: 64px;
}
.about-pretitle {
  color: var(--second-title-color);
}
.about-title {
  margin-bottom: 20px;
  color: var(--second-title-color);
}
.about-subtitle {
  margin-bottom: 20px;
  font-size: 18px;

  line-height: 1.67;
  letter-spacing: 0.02em;
  text-align: left;
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--fourth-text-color);
}
.about-btn {
  color: var(--second-button-color);
}
/* Цены */
.prices-text {
  color: var(--first-text-color);
}
.prices-title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}
.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.prices-btn {
  color: var(--second-button-color);
}
/* Почему приходят к нам */
.reasons-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--third-text-color);
}
.reasons-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--third-text-color);
}
.reasons-pre-title {
  color: var(--second-title-color);
}
.reasons-title {
  color: var(--second-title-color);
}
.reasons-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--fourth-text-color);
}
/* Мастера */
.masters-pretitle {
  color: var(--second-title-color);
}
.masters-title {
  color: var(--second-title-color);
}
.masters-name {
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}
.masters-position {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}
/* Портфолио */
.portfolio-text {
  color: var(--third-text-color);
}
/* Онлайн-запись */
.online-sign-up-title {
  color: var(--main-title-color);
}
/* Контакты */
.contacts-title {
  color: var(--main-title-color);
}
.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: var(--second-text-color);
}
.contact-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--second-text-color);
}
.schedule-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
/* Футер */
.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--third-text-color);
}
