:root {
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --first-text-color: rgba(157, 164, 189, 0.6);
  --second-text-color: #9da4bd;
  --third-text-color: #303030;
  --fourth-text-color: #555555;
  --first-button-color: #ffffff;
  --second-button-color: #303030;
  --header-text-color: #ffffff;
  --accent-text-color: #ff6c00;

  --primary-background-color: #f7f7f7;
  --secondary-background-color: #f7f7f7;
  --third-background-color: #191c26;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding-top: 130px;
  padding-bottom: 130px;
}
.btn {
  display: inline-block;
  border: 1px solid #ff6c00;
  padding: 12px 20px;
  border-radius: 25px;
  min-width: 160px;

  background-color: transparent;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
.pretitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.aftertitle {
  font-size: 18px;

  line-height: 1.67;
  letter-spacing: 0.02em;
}
.section-title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
/* Хедер */
.header {
  padding: 32px 0;
  background-color: var(--third-background-color);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  align-items: center;
}
.contact-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-text-color);
}
.header-item:not(:last-child) {
  margin-right: 40px;
}
.header-item:first-child {
  margin-left: 70px;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-text-color);
}
.header-tel {
  margin-right: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.33;
  color: var(--header-text-color);
}
.header-button {
  color: var(--first-button-color);
}
.header-button:hover {
  background-color: var(--accent-text-color);
}
/* hero */

.hero-container {
  display: flex;
}
.hero-list {
  width: 93px;
}
.hero-right {
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url("../img/hero.jpg");
}
.hero-link {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--third-text-color);
}
.hero-link:hover,
.hero-link:focus {
  color: var(--accent-text-color);
}
.hero-pretitle {
  margin-bottom: 20px;
  color: var(--first-text-color);
}
.hero-title {
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}
.hero-aftertitle {
  max-width: 400px;

  color: var(--second-text-color);
}
/* О нас */
.about-container {
  display: flex;
}
.about-list {
  display: flex;
  margin-right: 64px;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-right {
  width: 500px;
}
.about-pretitle {
  margin-bottom: 20px;
  color: var(--second-title-color);
}
.about-title {
  margin-bottom: 20px;
  color: var(--second-title-color);
}
.about-aftertitle {
  margin-bottom: 20px;
  color: var(--fourth-text-color);
  text-align: left;
}
.about-text {
  margin-bottom: 44px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--fourth-text-color);
}
.about-btn {
  color: var(--second-button-color);
}
/* Цены */
.prices {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(../img/price-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #111319;
  border: 1px solid #000000;
}
.prices-pretitle {
  margin-bottom: 20px;
  color: var(--first-text-color);
}
.prices-title {
  margin-bottom: 44px;
  color: var(--main-title-color);
}
.prices-wrap {
  display: flex;
  margin-bottom: 50px;
  background-image: linear-gradient(
    rgba(23, 26, 36, 0.2),
    rgba(23, 26, 36, 0.2)
  );
}
.prices-list {
  width: 50%;
  padding: 30px 40px;
}
.prices-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.prices-item:last-child {
  margin-bottom: 0;
}
.prices-item-text {
  color: var(--second-text-color);
}
.prices-btn {
  display: block;
  margin: 0 auto;
  color: var(--second-button-color);
}
/* Почему приходят к нам */
.reasons-conteiner {
  display: flex;
}

.reasons-right {
  flex-grow: 1;
  padding-left: 15px;
  max-width: 460px;
  margin-left: auto;
}

.reasons-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--third-text-color);
}
.reasons-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--third-text-color);
}
.reasons-pre-title {
  margin-bottom: 20px;
  color: var(--second-title-color);
}
.reasons-title {
  margin-bottom: 20px;
  color: var(--second-title-color);
}
.reasons-aftertitle {
  color: var(--fourth-text-color);
}
/* Мастера */
.masters-list {
  display: flex;
}
.masters-item {
  flex-basis: calc((100% - 2 * 30px) / 3);
}
.masters-item:not(:last-child) {
  margin-right: 30px;
}
.masters-item-content {
  padding-top: 30px;
}
.masters-pretitle {
  margin-bottom: 20px;
  color: var(--second-title-color);
}
.masters-title {
  margin-bottom: 44px;
  color: var(--second-title-color);
}
.masters-name {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}
.masters-position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}
/* Портфолио */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.portfolio-pretitle {
  margin-bottom: 44px;
  color: var(--third-text-color);
}
.portfolio-list {
  display: flex;
}
.portfolio-item {
  flex-basis: calc((100% - 3 * 30px) / 4);
}
.portfolio-item:not(:last-child) {
  margin-right: 30px;
}
/* Онлайн-запись */
.online-sign-up-title {
  color: var(--main-title-color);
}
/* Контакты */
.contacts-title {
  margin-bottom: 40px;
  color: var(--main-title-color);
}
.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: var(--second-text-color);
}
.contact-link:not(:last-child) {
  margin-bottom: 20px;
}
.contact-text {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--second-text-color);
}
.schedule-text {
  color: var(--second-text-color);
}
/* Футер */
.footer {
  display: flex;
  align-items: center;
  padding: 55px 0;
}
.footer-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.footer-copy,
.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--third-text-color);
}
