.backdrop {
    @include transition (transform);
    @include transition (opacity);
    @include transition (visibility);
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgba( $first-text-color, 0.6);
    top: 0;
    left: 0;
    &.is-hidden .modal {
    transform: scale(1.5);
    }
  }
  .modal {
    @include transition (transform);
    @include transition (opacity);
    @include transition (visibility);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: $main-color;
    width: 500px;
    min-height: 500px;
    border-radius: 10px;
    padding: 40px;
  }
  
  .is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  .modal__title {
    @include font (18px, 700, 1.3, 0.02em);
    color: $second-text-color;
    text-align: center;
    margin-bottom: 15px;
  }
  
  