.footer {
    display: flex;
    align-items: center;
    padding: 55px 0;
  }
  .footer__list {
    display: flex;
    align-items: center;
    margin-left: auto;
&::before {
    content: "";
    width: 60px;
    height: 1px;
    background-color: $second-text-color;
    margin-right: 40px;
    }
  }
  
  .footer__item:first-child {
  margin-right: 40px;
  }
  .footer__copy {
  @extend %secondary-link-style;
  }
  .footer__link {
  @include transition (color);
  @extend %secondary-link-style;
  &:hover,
  &:focus {
  color: $accent-color;
  }
  }
  