.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  .header__container {
    display: flex;
    align-items: center;
  }
  .header__navigation {
    display: flex;
    align-items: center;
  }

.header__contacts {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
  .header__contacts--tel {
   @extend %primary-link-style; 
    margin-right: 40px;
  }
  .header__button {
    color: $main-color;
  }