
.masters {
  background-color: $secondary-color;
  }
.masters__container {
  margin: 0 auto;
    padding: 0 31px;
    @media screen and (min-width:$mobile) {
      width: $mobile;
  }
    @media screen and (min-width:$tablet) {
    padding: 0 159px;
    width: $tablet;
  }
    @media screen and (min-width:$desktop) {
    padding: 0 15px;
    width: $desktop;
  } 
}
.masters__list {
  @media screen and (min-width:$desktop) {
    display: flex;
  }
}
.masters__item {
  @media screen and (max-width:1199px) {
    max-width: 450px;
    margin: 0 auto;
    &:not(:last-child) {
    margin-bottom: 64px;
    }
  }
  @media screen and (min-width:$desktop) {
    width: 370px;
  &:not(:last-child) {
    margin-right: 30px;
  }
  }
  &:hover .masters__overlay {
    transform: translateY(0);
    opacity: 1;
  }
}
.overlay-thumb {
  position: relative;
  width: 100%;
  height: auto;
overflow: hidden;
}
.masters__overlay {
  @include transition (opacity);
  @include transition (transform);
  position: absolute; 
  top: 0;
  left: 0;
    padding: 15px;
  background-color: $accent-color;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
opacity: 0;
}
  
  .masters__item-content {
    padding-top: 30px;
  }
  .masters__pretitle {
    margin-bottom: 20px;
    color: $second-text-color;
    &::before {
      background-color: $second-text-color;
    }
  }
  
  .masters__title {
    margin-bottom: 44px;
    color: $second-text-color;
  }
  .masters__name {
    @include font (18px, 400, 1.39, 0.02em);
    margin-bottom: 8px;
    text-align: center;
    color: $second-text-color;
  }
  .masters__position {
    @include font (14px, 400, 1.36, 0.02em);
    margin-bottom: 30px;
    text-align: center;
    color: $accent-color;
  }
  