.contact-wrap {
  @media screen and (min-width:$desktop) {
    display: flex;
  }
    background-color: $tertiary-color;
    }
    
  .online {
    @media screen and (min-width:$desktop){
      width: calc(50% + 15px);
      padding: 130px 40px 130px 0;
    }
  }
  .online__title {
    color: $main-color;
    margin-bottom: 44px;
    text-align: center;
  }
  .input-wrap {
    @media screen and (min-width:$tablet) {
    display: flex;
    margin-bottom: 44px;
  }
  
  }
  .online__input {
  @include transition (border-color);
  @include font (11px, 600, 1.36, 0.1em);
  margin-bottom: 44px;
  @media screen and (min-width:$tablet) {
    width: 330px;
    margin-bottom: 0;
    & + & {
      margin-left: 30px;
    }
  }
    width: 100%;
    border-bottom: 1px solid rgba($first-text-color, 0.4);
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    padding: 0 10px;
    background-color: transparent;
    color: $third-text-color;
    text-align: left;
    &:focus, &:hover {
      border-color: $main-color;
    }
    &::placeholder {
    @include font (11px, 600, 1.36, 0.1em);
    }
    }
    .online__textarea {
    @include transition (border-color);
    @include font (11px, 600, 1.36, 0.1em);
      width: 100%;
      height: 76px;
      margin-bottom: 44px;
      border-bottom: 1px solid rgba($first-text-color, 0.4);
      border-top: none;
      border-left: none;
      border-right: none;
    padding: 0 10px;
    background-color: transparent;
    color: $third-text-color;
    text-align: left;
    resize: none;
    &:hover, &:focus {
    border-color: $main-color;
    }
    }
    .online__button {
      margin: 0 auto;
      color: $main-color;
    }