.nav__list {
  @media screen and (min-width:$tablet) {
    display: flex;
    align-items: center;
  }
}
  
  .nav__item:not(:last-child) {
    margin-bottom: 24px;
    @media screen and (min-width:$tablet) {
      margin-bottom: 0;
      margin-right: 24px;
    }
    @media screen and (min-width:$desktop) {
      margin-right: 40px;
    }
}
  .nav__item:first-child {
    @media screen and (min-width:$tablet) {
  margin-left: 50px;
}
@media screen and (min-width:$desktop) {
  margin-left: 70px;
}
  }
  .nav__link {
  @extend %primary-link-style;
  @include transition (color);
  font-size: 18px;
  color: $second-text-color;
  @media screen and (min-width:$tablet) {
    font-size: 12px;
  color: $main-color;
  position: relative;
  display: block;
  padding: 52px 0;
  &.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: $accent-color;
  bottom: 28px;
  left: 0;
}
}
@media screen and (min-width:$desktop) {
  padding: 48px 0;
}
  }