.pretitle {
  @include font (11px, 600, 1.36, 0.1em);
display: flex;
align-items: center;
text-transform: uppercase;
&::before {
    transition: transform 300ms linear;
    content: "";
    width: 63px;
    height: 1px;
    margin-right: 21px;
  }
   &:hover::before {
    background-color: $accent-color;
  }
}
  
  