.social__list {
  @extend %flex-center-style;
}
.social__item {
  width: 44px;
  height: 44px;
  & + & {
    margin-left: 10px;
  }
}
  
.social__link {
  @include transition (background-color);
  @include transition (color);
  @extend %flex-center-style;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $secondary-color;
  color: $second-text-color;
  &:hover,
  &:focus {
  color: $accent-color;
    background-color: $tertiary-color;
  }
}
.social__icon {
  fill: currentColor;
}
  