$main-color: #ffffff;
$secondary-color: #f7f7f7;
$tertiary-color: #191c26;
$accent-color: #ff6c00;

  $first-text-color: #9da4bd;
  $second-text-color: #303030;
  $third-text-color: #555555;
  // Animation 
  $transition-duration: 300ms;
  $transition-timing-function: linear;
 